@import '~Styles/_imports.scss';


.CreateModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em 0;


  &--namespace {
    height: 33em;
  }

  &--dataset {
    height: 21em;
  }

  &__form {
    height: calc(100% - 6em);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;

    button:last-child {
      margin-right: 0;
    }
  }
}
