@import '~Styles/_imports.scss';

.PasswordModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  min-height: 15em;

  button {
    align-self: flex-end;
  }
  &__warning {
    color: $orange;
  }
  &__error {
    color: $crimson;
  }
  &__success {
    color: $green;
  }
}
