.DatasetSection {
  margin: 0 auto;

  .column-1-span-12 {
    margin: 0 auto;
  }

}


@media only screen and (max-width: 1020px) {
  .DatasetSection {
    .AddSection {

      display: block;
      &__inner {
        width: calc(100% - 4em) !important;
        margin: 0;
      }
    }
  }
}
