@import '~Styles/_imports.scss';

.Logo {
  display: flex;
  justify-content: flex-start;
  height: 4em;
  background-image: linear-gradient(to right, var(--main-color), var(--secondary-color));
  z-index: 11;
  &__img {
    svg {
      width: 35px;
      height: 35px;
    }
  }
  &__container {
    border-right: 1px solid $white;
    padding: 0 1em;
  }
  &__hostname {
    flex: 1;
    font-size: 24px;
    color: $white !important;
    font-weight: bold;
    text-decoration: none !important;
  }
  &__item {
    background: url('~Images/logos/hos-logo.svg') no-repeat center center;
    background-size: auto;
  }
  &__divider {
    width: 1px;
    background: $white;
  }
}
