@import '~Styles/_imports.scss';


.Folder {
  display: flex;
  align-items: center;
  height: 35px;
  color: $mineShaft;
  margin: 0 -30px;
  padding: 0 30px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #c4c7c9;
  svg {
    margin-right: 5px;
  }
  &--hovered {
    background:  rgba(var(--main-rgb), 0.5);
  }

  &--focused {
    background-color: rgba(var(--main-rgb), 0.17);
  }

  &__checkbox {
    width: 20px;
    height: 20px;
    border: solid 1.5px $romanSilver;
    cursor: pointer;
    margin-right: 50px;
    &--selected {
      background: var(--main-color) url('~Images/icons/checkbox-selected.svg') no-repeat center center;
      background-size: 20px;
    }
    &--partial {
      background: var(--main-color) url('~Images/icons/checkbox-minus.svg') no-repeat center center;
      background-size: 20px;
    }
    &:hover {
      box-shadow: 0 0px 12px 0 rgba(0,0,0,.50);
    }
    &--placeholder {
      width: 70px;
    }
  }

  &__icon {
    margin-right: 5px;
  }

  &__file {
    display: flex;
    text-align: left;
    flex: 1;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    svg {
      align-self: center;
    }
    input {
      height: 26px;
    }
  }
  &__size {
    width: 100px;
  }
  &__modified {
    width: 150px;
  }
  &__action {
    width: 200px;
  }
  &__progress-container {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #c4c7c9;
    width: 100%;
    height: 2px;
    display: block;
  }
  &__progress {
    position: absolute;
    height: 100%;
    transition: width 0.5s;
    background: var(--main-color);
    z-index: 1;
    left: 0;
  }
}
